<footer<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top font-semibold text-gray-600 dark:text-gray-400 sm:flex-row sm:justify-between sm:text-xs"	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top font-semibold text-gray-600 dark:text-gray-400 sm:flex-row sm:justify-between sm:text-xs"
>
	<div class="me-0 sm:me-4">	<div class="me-0 sm:me-4">
		&copy; {siteConfig.author}		&copy; {siteConfig.author}
		{year}		{year}
	</div>	</div>

	{/* 新增音乐播放器 */}	{/* 新增音乐播放器 */}
	<div class="w-full max-w-[298px] scale-75 sm:scale-100">	<div class="w-full max-w-[298px] scale-75 sm:scale-100">
		<iframe 		<iframe 
			frameborder="no" 			frameborder="no" 
			border="0"			border="0"
			marginwidth="0"			marginwidth="0"
			marginheight="0"			marginheight="0"
			width="100%"			width="100%"
			height="52"			height="52"
			src="https://music.163.com/outchain/player?type=0&id=3224918761&auto=1&height=32"			src="//music.163.com/outchain/player?type=0&id=3224918761&auto=1&height=32"
			class="mx-auto"			class="mx-auto"
		></iframe>		></iframe>
	</div>	</div>

	<nav	<nav
		aria-label="More on this site"		aria-label="More on this site"
		class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"		class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
	>
		{
			menuLinks.map((link) => (			menuLinks.map((link) => (
				<a class="px-4 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline" href={link.path}>				<a class="px-4 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline" href={link.path}>
					{link.title}					{link.title}
				</a>				</a>
			))
		}
	</nav>	</nav>
</footer></footer>
